.map-container {
  width: 100%;
  height: 600px;
}

.disclaimer-modal .mapboxgl-ctrl-attrib-inner td:first-child {
  display: none;
}

.disclaimer-modal .mapboxgl-ctrl-attrib {
  background-color: unset;
}

@media screen and (max-width: 768px) {
  .map-container {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .map-container {
    height: 300px;
  }
}

.edw-marker {
  background-image: url('../assets/icons/mapbox-marker-icon-yellow.svg');
  background-size: contain;
  width: 20px;
  height: 28px;
  cursor: pointer;
}

.edw-cluster-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FFD700;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 420;
  color: black;
  border: 1px solid white;
}

.view-mapbox {
  position: relative;
}

form.exposed-mapbox-filters {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: #ffff;
  padding: 2.5rem 3.125rem;
  margin: 1.5rem;
}

form.exposed-mapbox-filters.form-visible {
  display: block;
}

form .close-button {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 32px;
  margin-right: 10px;
}

#toggleFiltersForm {
  top: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1rem;
  border: none;
  background: #ffff;
  border-radius: 2px;
  display: none;
  padding-left: 8px;
  padding-right: 8px;
}

#toggleFiltersForm.button-visible {
  display: block;
}
