{% if exposedFilters %}
    <!-- Button to toggle the form -->
    <button id="toggleFiltersForm" class="button-visible" title="Toggle filters"><img
                src="/modules/contrib/unep_maps/assets/icons/filter-solid.svg" alt="Toggle filters"></button>
{% endif %}

{% set classes = [
    'map-container',
    showModalDisclaimer ? 'disclaimer-modal',
] %}

<!---- Map container ---->
<div id="{{ mapContainerId }}" class="{{ classes|join(' ') }}"></div>

{% if  showModalDisclaimer %}
    {{ disclaimer }}
{% endif %}
